.btn {
    margin: 0px 10px 0px 5px;
}

html {
    scroll-behavior: smooth;
}

.navlogo {
    margin-right: 8px;
    margin-bottom: 0;
}

.profile-parent {
    margin-top: 50px;
}

.navbar {
    font-size: 18px;
    font-weight: 500;
}

/*  */



